/* Application-wide Styles */
@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
.jokes-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
    .jokes {
        width: 80%;
        height: auto;
        margin: 10px;
        padding: 5px;
        text-align: center;
        ul {
            list-style: none;
            padding: 0;
            li {
                padding: 10px 0 0 0;
            }
            .green-text {
                color: green;
            }
        }
    }
}
.category-section {
    width: 100%;
    text-align: center;
    padding: 50px 0 0 0;
}
.btn-primary {
    background-color: #26272b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.category-btn {
    margin-left: 30px;
}
.btn-primary:disabled, .btn-primary.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: #26272b
}
.btn-secondary {
    background-color: #F08080;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
}
.btn-favorites {
    margin-left: 10px;
    background-color: #008000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-favorites:disabled, .btn-favorites.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: #26272b
}
